@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	font-family: 'Gotham', 'Montserrat', sans-serif;
}

body span{
	font-family: 'Gotham-Ultra', 'Montserrat', sans-serif;
}

footer{
	background: #7DC9D2;
	width: 100%;
}

.bg-blue{
	background: #7DC9D2;
}
.bg-blk{
	background: #000;
}
.bg-white{
	background: #fff;
	padding: 75px;
}

.row{
	max-width: 1300px;
	margin: 0 auto;
}

.landing-wrap img{width: 100%;}

.pink-text{
	color: #EC166C
}

.big-text{
	font-size: 40px;
	display: block;
	line-height: 50px;
}

.clearfix{
	clear: both;
}

.student-testimonial{
	text-align: center;
	margin-bottom: 25px;
	position: relative;
}
.student-testimonial div:first-child{
	border-radius: 50%;
	width: 234px;
	height: 234px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
	background: rgba(266,32,108,0);
}

.student-testimonial .bg-pink{
	background: transparent;
	transition: background .15s ease-in-out;
	-moz-transition: background .15s ease-in-out;
	-webkit-transition: background .15s ease-in-out;

}

.student-testimonial:hover .bg-pink{
	display: block;
	background: rgba(266,32,108,0.4);
	width: 234px;
	height: 234px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -117px;
	cursor: pointer;
}

.form-holder{height: 100vh;}

#road-begins{
	color: #fff;
	padding: 10px;
	position: relative;
	width: 55%;
	max-width: 352px;
	min-width: 310px;
	margin: 0 auto;
	height: 100vh;
	text-align: center;
}

#road-begins input{
	border-radius: 10px;
	border: none;
	width: 100%;
	color: #000;
	font-family: 'Gotham Book', 'Montserrat', sans-serif;
	padding-left: 10px;
}
#road-begins input:focus{
	outline: none;
}

#road-begins input[type="submit"]{
	background: #EC166C;
	color: #fff;
	width: 80px;
	text-align: center;
	padding: 5px;
	font-family: 'Gotham', 'Montserrat', sans-serif;
	font-weight: 500;
	border-radius: 15px;
	position: relative;
	right: -90px;
}

#road-begins label{
	text-align: right;
}

#road-begins span{
	font-family: 'Gotham Book', 'Montserrat', sans-serif;
}
#road-begins h4{
	font-family: 'Gotham-Ultra', 'Montserrat', sans-serif;
}

#road-begins div.col-sm-6:nth-child(odd){
	text-align: right;
	margin-bottom: 10px;
	padding-left: 0px;
}
#road-begins div.col-sm-6:nth-child(even){
	text-align: right;
	margin-bottom: 10px;
	padding-left: 0px;
}

#privacy-statement{
	color: #000;
	font-size: 10px;
	text-align: left;
	display: block;
	position: relative;
	top: -17px;
	width: 90%;
	right: -18px;
}

#privacy-statement a{
	color:#000;
	font-weight: bolder;
}

@media (max-width: 765px){
	#road-begins div.col-sm-6:nth-child(odd){
		text-align: left;
		margin-bottom: 10px;
		padding-left: 0px;
	}
	#road-begins div.col-sm-6:nth-child(even){
		text-align: left;
		margin-bottom: 10px;
		padding-left: 0px;
	}
	
	.bg-white{padding: 75px 0;}
	
	#road-begins input[type="submit"]{top: -30px}
	
}